rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // This rule allows anyone to read and write to any collection.
    // This is insecure and should not be used in a production application.
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
